services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ${VECTORSTORE_PATH}:/app/vectorstore/
      - ${PDF_FOLDER}:/app/pdfs/
      - ${GCP_CREDENTIALS}:/app/gcp_credentials.json
      - ${CACHE_FOLDER_PATH}:/app/cache/
      - /tmp/temp_uploads:/tmp/temp_uploads
    environment:
      - VECTORSTORE_PATH=/app/vectorstore/
      - PDF_FOLDER=/app/pdfs/
      - GCP_CREDENTIALS=/app/gcp_credentials.json
      - CACHE_FOLDER_PATH=/app/cache/
    depends_on:
      - redis
      - worker
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml
        - action: rebuild
          path: ./Dockerfile

  worker:
    build: .
    command: celery -A tasks worker -l info
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - ${VECTORSTORE_PATH}:/app/vectorstore/
      - ${PDF_FOLDER}:/app/pdfs/
      - ${GCP_CREDENTIALS}:/app/gcp_credentials.json
      - ${CACHE_FOLDER_PATH}:/app/cache/
      - /tmp/temp_uploads:/tmp/temp_uploads
    environment:
      - VECTORSTORE_PATH=/app/vectorstore/
      - PDF_FOLDER=/app/pdfs/
      - GCP_CREDENTIALS=/app/gcp_credentials.json
      - CACHE_FOLDER_PATH=/app/cache/
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  
  redis-commander:
    image: rediscommander/redis-commander
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
