services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ${VECTORSTORE_PATH}:/app/vectorstore/
      - ${PDF_FOLDER}:/app/pdfs/
      - ${GCP_CREDENTIALS}:/app/gcp_credentials.json
      - ${CACHE_FOLDER_PATH}:/app/cache/
      - ${SQLITE_MEMORY_DATABASE}:/app/db_data/
      - /tmp/temp_uploads:/tmp/temp_uploads
    environment:
      - PYTHONUNBUFFERED=1
      - VECTORSTORE_PATH=/app/vectorstore/
      - PDF_FOLDER=/app/pdfs/
      - GCP_CREDENTIALS=/app/gcp_credentials.json
      - CACHE_FOLDER_PATH=/app/cache/
      - SQLITE_MEMORY_DATABASE=/app/db_data/memory.sqlite
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 60s
      timeout: 5s
      retries: 5
    depends_on:
      - redis
      - worker

  worker:
    build: .
    command: celery -A tasks worker -l info
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - ${VECTORSTORE_PATH}:/app/vectorstore/
      - ${PDF_FOLDER}:/app/pdfs/
      - ${GCP_CREDENTIALS}:/app/gcp_credentials.json
      - ${CACHE_FOLDER_PATH}:/app/cache/
      - ${SQLITE_MEMORY_DATABASE}:/app/db_data/
      - /tmp/temp_uploads:/tmp/temp_uploads
    environment:
      - PYTHONUNBUFFERED=1
      - VECTORSTORE_PATH=/app/vectorstore/
      - PDF_FOLDER=/app/pdfs/
      - GCP_CREDENTIALS=/app/gcp_credentials.json
      - CACHE_FOLDER_PATH=/app/cache/
      - SQLITE_MEMORY_DATABASE=/app/db_data/memory.sqlite
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  
  redis-commander:
    image: rediscommander/redis-commander
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ${VECTORSTORE_PATH}:/app/vectorstore/
      - ${PDF_FOLDER}:/app/pdfs/
      - ${GCP_CREDENTIALS}:/app/gcp_credentials.json
      - ${CACHE_FOLDER_PATH}:/app/cache/
      - ${SQLITE_MEMORY_DATABASE}:/app/db_data/
    environment:
      - PYTHONUNBUFFERED=1
      - VECTORSTORE_PATH=/app/vectorstore/
      - PDF_FOLDER=/app/pdfs/
      - GCP_CREDENTIALS=/app/gcp_credentials.json
      - CACHE_FOLDER_PATH=/app/cache/
      - SQLITE_MEMORY_DATABASE=/app/db_data/memory.sqlite
      - API_BASE_URL=http://web:8000
    depends_on:
      web:
        condition: service_healthy
