GEMINI_API_KEY = "APIkeyHere"
GCP_PROJECT = "ProjectHere"
GCP_REGION = "GCPRegionHere"
GCP_CREDENTIALS = "/path/to/credetentials.json
LANGSMITH_API_KEY = "LangsmithAPIKeyHere"
LANGSMITH_TRACING_V2 ="true"
LANGSMITH_ENDPOINT = 
LANGSMITH_PROJECT = "LangsmithProjectHere"
VECTORSTORE_PATH = "/path/to/vectorstore/folder
SQLITE_MEMORY_DATABASE = /path/to/sqlite/folder
CACHE_FOLDER_PATH = /path/to/cache/folder
PDF_FOLDER = /path/to/pdf/folder
API_BASE_URL = "http://localhost:8000